<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

    <style>
        .ui-content {
            min-height: 85vh;
        }
        body,
        .ui-link {
            font-size: 1.5em;
        }
        #GPS {
            visibility: hidden;
        }
        input,
        button,
        .ui-content,
        body,
        .ui-link,
        #topBar,
        #topBar2,
        textarea {
            font-family: 'Josefin Sans', sans-serif;
            text-shadow: none;
            color: #ffffff;
        }
        #header {
            height: 10vh;
            background-color: transparent;
            border: none;
        }
        #rightBtn,
        #leftBtn {
            position: absolute;
            top: 0;
            height: 10vh;
            width: 10vh;
            padding: 0;
            border-radius: 0;
            background: none;
            text-shadow: none;
            border: none;
            box-shadow: none;
        }
        #leftBtn {
            left: 0;
        }
        #rightBtn {
            right: 0;
        }
        .ui-content {
            position: relative;
            border-style: solid;
        }
        .fullscreen-img {
            z-index: 0;
            min-width: 100%;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
        }
        ul {
            list-style-type: none;
        }
        li {
            padding: 2vh;
            height: 10vh;
            width: 10vh;
        }
        ul li img {
            height: 7vh;
        }
        #etchSelector {
            position: absolute;
            right: 0px;
            bottom: 0px;
            top: 10vh;
        }
        #etchsContainer {
            width: 90vh;
        }
        #headerBarFind,
        #headerBarEtch {
            position: absolute;
            z-index: -1;
        }
        #headerBarFind {
            left: -10vh;
        }
        #headerBarEtch {
            right: -10vh;
        }
        #etch {
            background: none;
        }
        .pageTitle{
            text-shadow: none;
        }
    </style>
</head>

<body>
    <!-- Start of first page -->
    <div data-role="page" id="find" class="fullscreen-img" style="background-image: url(../public/image/image4.jpg);">
        <div id="header" data-role="header" data-id="persistent" data-position="fixed">
            <svg id="headerBarFind" xmlns="http://www.w3.org/2000/svg" height="100%" width="100%">
                <rect width="100%" height="100%" style="fill: #0086b2" />
            </svg>
            <h1 class="pageTitle">otherEtchings</h1>
            <a href="#etch" id="leftBtn" data-transition="slide" data-icon="plus" data-direction="reverse"></a>
            <a href="#" id="rightBtn" data-icon="navigation"></a>
        </div>
        <!-- /header -->

        <!-- Story pages -->
        <div role="main" class="ui-content" id="mainpage">
            <div id="etchsContainer">
                <div class="etchContent" id="etch1">
                    <div id="result1">
                        <h1><%= headline1 %></h1>
                    </div>
                    <div id="result2">
                        <h2><%= author1 %></h2>
                    </div>
                    <div id="result3">
                        <p>
                            <%=s tory1 %>
                        </p>
                    </div>
                </div>

                <div class="etchContent" id="etch2" style="display:none">
                    <div id="result4">
                        <h1><%= headline2 %></h1>
                    </div>
                    <div id="result5">
                        <h2><%= author2 %></h2>
                    </div>
                    <div id="result6">
                        <p>
                            <%=s tory2 %>
                        </p>
                    </div>
                </div>

                <div class="etchContent" id="etch3" style="display:none">
                    <div id="result7">
                        <h1><%= headline3 %></h1>
                    </div>
                    <div id="result8">
                        <h2><%= author3 %></h2>
                    </div>
                    <div id="result9">
                        <p>
                            <%=s tory3 %>
                        </p>
                    </div>
                </div>

                <div class="etchContent" id="etch4" style="display:none">
                    <div id="result10">
                        <h1><%= headline4 %></h1>
                    </div>
                    <div id="result11">
                        <h2><%= author4 %></h2>
                    </div>
                    <div id="result12">
                        <p>
                            <%=s tory4 %>
                        </p>
                    </div>
                </div>

                <div class="etchContent" id="etch5" style="display:none">
                    <div id="result13">
                        <h1><%= headline5 %></h1>
                    </div>
                    <div id="result14">
                        <h2><%= author5 %></h2>
                    </div>
                    <div id="result15">
                        <p>
                            <%=s tory5 %>
                        </p>
                    </div>
                </div>
                <!-- /Story pages -->
            </div>

            <div id="etchSelector">
                <ul id="etchSelectorBtns">
                    <li>
                        <a id="btn1" href="#etch1">
                            <img src="../public/images/xplaceholder.png">
                        </a>
                    </li>
                    <li>
                        <a id="btn2" href="#etch2">
                            <img src="../public/images/xplaceholder.png">
                        </a>
                    </li>
                    <li>
                        <a id="btn3" href="#etch3">
                            <img src="../public/images/xplaceholder.png">
                        </a>
                    </li>
                    <li>
                        <a id="btn4" href="#etch4">
                            <img src="../public/images/xplaceholder.png">
                        </a>
                    </li>
                    <li>
                        <a id="btn5" href="#etch5">
                            <img src="../public/images/xplaceholder.png">
                        </a>
                    </li>
                </ul>
            </div>


            <!--div id="result4"><img src=./public/image/<%= image %> /></div-->
            <!--            <input type="submit" value="Change story" id="change" data-icon="star" data-iconpos="right" />-->
        </div>
        <!-- /content -->
    </div>
    <!-- /page -->


    <!-- Start of second page -->
    <div data-role="page" id="etch">

        <div data-role="header" id="header">
            <svg id="headerBarEtch" xmlns="http://www.w3.org/2000/svg" height="100%" width="100%">
                <rect width="100%" height="100" style="fill: #0086b2" />
            </svg>

            <h1 class="pageTitle">Etch</h1>

            <a href="#" id="leftBtn" data-icon="plus"></a>
            <a href="#find" id="rightBtn" data-transition="slide" data-icon="navigation"></a>
        </div>
        <!--header-->
        <div role="main" class="ui-content">


            <form method="post" enctype="multipart/form-data" action="/base/upload" data-ajax="false">
                <label for="text-2">Headline:</label>
                <input type="text" name="headline" placeholder="Headline" id="headlineID">
                <br>
                <label for="text-2">Author:</label>
                <input type="text" name="author" placeholder="Author (Optional)" id="authorID">
                <br>
                <label for="text-2">Etching:</label>
                <input type="text" name="etching" placeholder="Your Etching" id="story">
                <br>
                <input type="file" name="image">
                <br>

                <input type="hidden" name="latitude" id="lat" />
                <input type="hidden" name="longitude" id="lng" />
                <input type="submit" value="Submit your story" id="submitButton" data-icon="plus" data-iconpos="right" />
            </form>
        </div>
        <!-- /content -->

    </div>
    <!-- /page -->

    <script type="text/javascript">
        $(document).bind('pageinit', function () {
            $.ajaxSetup({
                cache: false
            });

            navigator.geolocation.getCurrentPosition(function (pos) {
                var lat = pos.coords.latitude;
                var lng = pos.coords.longitude;
                $("#lat").val(lat);
                $("#lng").val(lng);
            });

            /*$( "#submitButton" ).bind( "click", function(event, ui) {
					var jsonUrl = "http://localhost:3000/submit";
					var story = { 
						"headline" : $("#headlineID").val(), 
						"author" : $("#authorID").val (), 
						"etching" : $("#story").val (),
						"latitude" : $("#lat").val(), 
						"longitude" : $("#lng").val(), 
					};
					
					$.post(jsonUrl,story, function(data) {
						alert("Story is added");
						location.reload();
					}, 'json');
				});*/

            $("#change").bind("click", function (event, ui) {
                var jsonUrl = "http://rocky-hamlet-2798.herokuapp.com/base/change";

                $.get(jsonUrl, function (data) {
                    $("#result1").html("<h1>" + data.headline + "</h1>")
                    $("#result2").html("<h2>" + data.author + "</h2>")
                    $("#result3").html("<p>" + data.story + "</p>");

                    //$("#result4").html("<img src=../public/image/"+data.image+">" + "</img>");
                    var image = $('#mainpage');
                    image.css('background-image', 'url(/public/image/' + data.image + ')');
                }, 'json');
            });
        });

        $(document).ready(function () {
            $("#btn1").click(function () {
                $("#etch1").show();
                $("#etch2").hide();
                $("#etch3").hide();
                $("#etch4").hide();
                $("#etch5").hide();
            });

            $("#btn2").click(function () {
                $("#etch2").show();
                $("#etch1").hide();
                $("#etch3").hide();
                $("#etch4").hide();
                $("#etch5").hide();
            });

            $("#btn3").click(function () {
                $("#etch3").show();
                $("#etch2").hide();
                $("#etch1").hide();
                $("#etch4").hide();
                $("#etch5").hide();
            });

            $("#btn4").click(function () {
                $("#etch4").show();
                $("#etch2").hide();
                $("#etch3").hide();
                $("#etch1").hide();
                $("#etch5").hide();
            });

            $("#btn5").click(function () {
                $("#etch5").show();
                $("#etch2").hide();
                $("#etch3").hide();
                $("#etch4").hide();
                $("#etch1").hide();
            });
        });
    </script>
</body>

</html>


